<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
</head>
<body>
<header>
    <form action="/auth/logout" method="POST">
        <button type="submit">Wyloguj</button>
    </form>
</header>
